
@font-face {
    font-family: "nasalization";
    src: url("fonts/nasalization/nasalization-rg.woff") format('woff');
  }

  @font-face {
    font-family: "nasalization";
    src: url("fonts/nasalization/nasalization-rg.woff") format('woff2');
  }
* {
    margin: 0px;
    padding: 0px;
}

header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    height: 3rem;
    width: 100%;
    background-color: aliceblue;
    z-index: 1000;
}
body {
    margin-top: 3rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    background-color: black;
    
}

h1 {
    font-family: nasalization;
}

h2,h3,p {
    color: white;
}

.solarSystem.active {
    display: flex;
}
.solarSystem {
    display: none;
    width: 18rem;
    height: 18rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.planetCard.active {
    display: flex;
}
.planetCard {
    display: none;
    width: 18rem;
    height: 53rem;
    border: 1px solid white;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

.planetCardPictureContainer {
    width: 100%;
    height: 18rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.planetCardPicture {
    width: 100%;
    height: 15.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.planetCardPicture.active{
    width: 100%;
    height: 15rem;
    border: 1px solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planetCardInfo {
    height: 15rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    gap: 0.5rem;

}

.planetInfo {
    height: 100%;
    width: 8.5rem;
    border: 1px solid white;
    text-align: center;
}

.planetInfo p {
    margin-top: 0.5rem;
}

.planet {
    width:5%;
    height: 5%;
    position: absolute;
    border-radius: 100%;
}

.trajectory {
    border: 2px dotted white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seventhTrajectory {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
	transition: transform 60s linear;
}

#seventhPlanet {
    margin-right: 100%;
    transform: rotate(0deg);
	transition: transform 60s linear;
}

#sixthTrajectory {
    width: 87%;
    height: 87%;
}

#sixthPlanet {
    margin-top: 87%;
}

#fifthTrajectory {
    width: 87%;
    height: 87%;
}

#fifthPlanet {
    margin-bottom: 76%;
}

#fourthTrajectory {
    width: 84%;
    height: 84%;
}

#fourthPlanet {
    margin-left: 63%;
}

#thirdTrajectory {
    width: 79%;
    height: 79%;
}


#thirdPlanet {
    margin-top: 37%;
    margin-right: 34%;
}

#secondTrajectory {
    width: 74%;
    height: 74%;
}

#secondPlanet {
    margin-left: 32%;
    margin-top: 20%;
}

#firstTrajectory {
    width: 69%;
    height: 69%;
}

#firstPlanet {
    margin-bottom: 17%;
    margin-right: 20%;
}

#sun {
    width: 15%;
    height: 15%;
}


@media screen and (min-width: 1050px) {

    /* h1 {
        font-size: large;
    } */

    body  {
        flex-direction: row;
        height: 100vh;
    }
    .solarSystem {
        width: 35rem;
        height: 35rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .planetCard {
        display: none;
        width: 27rem;
        height: 39rem;
        border: 1px solid white;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
    }
    
    .planetCardPictureContainer {
        width: 22.2rem;
        height: 23rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .planetInfo {
        height: 100%;
        width: 8.5rem;
        border: 1px solid white;
        text-align: center;
    }
    
    .planetCardPicture {
        width: 23rem;
        height: 20rem;
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .planetCardPicture.active{
        width: 20rem;
        height: 20rem;
        border: 1px solid white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
} 


@media screen and (min-width: 1200px) {
    .solarSystem {
        width: 40rem;
        height: 40rem;
    }
    
} 











